NODE_IMAGE=node:22-bookworm-slim
NODE_ENV=production
IMAGE_NODE_ENV=production
NODE_UID=1001
NODE_GID=1001
NODE_USER=appuser
NODE_GROUP=appgroup

POSTGRES_IMAGE=postgres:16-alpine
DATABASE_TYPE=postgres
DATABASE_HOST=postgres
POSTGRES_SERVICE_NAME=postgres
DATABASE_PORT=5432
DATABASE_NAME=dashboard
DATABASE_USERNAME=dashboard
DATABASE_PASSWORD=change-this-password
DATABASE_SYNCHRONIZE=false
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false

POSTGRES_HOST_PORT=5436
ADMINER_IMAGE=adminer:4
ADMINER_HOST_PORT=8080
ADMINER_CONTAINER_PORT=8080

APP_PORT=3000
BACKEND_HOST_PORT=3001
BACKEND_CONTAINER_PORT=3000
APP_CORS_ORIGINS=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
FRONTEND_PORT=3000
FRONTEND_HOST_PORT=3000
FRONTEND_CONTAINER_PORT=3000

AUTH_JWT_SECRET=replace-with-jwt-secret
AUTH_JWT_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_SECRET=replace-with-refresh-secret
AUTH_REFRESH_TOKEN_EXPIRES_IN=3650d
AUTH_FORGOT_SECRET=replace-with-forgot-secret
AUTH_FORGOT_TOKEN_EXPIRES_IN=30m
AUTH_CONFIRM_EMAIL_SECRET=replace-with-confirm-email-secret
AUTH_CONFIRM_EMAIL_TOKEN_EXPIRES_IN=1d
AUTH_UNIFORM_ERRORS=false

SERVICE_RESTART_POLICY=unless-stopped
ONE_SHOT_RESTART_POLICY=no
POSTGRES_HEALTHCHECK_INTERVAL=5s
POSTGRES_HEALTHCHECK_TIMEOUT=5s
POSTGRES_HEALTHCHECK_RETRIES=10
BACKEND_HEALTHCHECK_INTERVAL=10s
BACKEND_HEALTHCHECK_TIMEOUT=5s
BACKEND_HEALTHCHECK_RETRIES=10
BACKEND_HEALTHCHECK_START_PERIOD=20s